<div class="chat-body">
    <div class="message">
        <header>Antony</header>
        <p>This is a test message</p>
        <footer>16:00</footer>
    </div>
    <div class="message">
            <header>Sebi</header>
            <p>This is a test message2</p>
            <footer>16:33</footer>
    </div>
    <div class="message">
            <header>Baaa</header>
            <p>Ceva mai lung asdadkasdadasa</p>
            <footer>16:44</footer>
    </div>
    
</div>
<div class="chat-input">
    <input type="text">
    <button>Send</button>
</div>